<div>
  <form [formGroup]="forgotPasswordFrom">
    <p-card header="ForgotPassword" [style]="{ width: '360px' }">
        <p class="text-sm">No worries.Enter your account email address and we will share a reset link </p>
      <div class="field">
        <label for="email">Email</label>
        <input
          type="text"
          pInputText
          formControlName="email"
          class="w-full"
          name="email"
          placeholder="Enter your email"
        />
      </div>
      <small *ngIf="email.invalid &&(email.dirty || email.touched)" class="block p-error">
        <div *ngIf="email.errors?.['required']">Email is required </div>
        <div *ngIf="email.errors?.['email']">Email should be valid </div>
      </small>
      <p-button label="Reset" styleClass="w-full" [disabled]="forgotPasswordFrom.invalid" type="submit"></p-button>
      <div class="mt-2">
       Return to <a routerLink="/login">login</a>
      </div>
    </p-card>
  </form>
</div>
