<div class="d-flex  justify-content-center  my-5 ">
  <div class="card" style="width: 20rem; height: 23rem;">
    <div class="card-body">
    <form [formGroup]="forgotPasswordFrom">
      <h2 class="mt-3">Forgot Password</h2>
      <p class="fs-6 mt-4">No worries.Enter your account email address and we will share a reset link </p>
      <div class="mt-4">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="email" formControlName="email" name="email" placeholder="Enter your email" 
        >
        <small *ngIf="email.invalid &&(email.dirty || email.touched)" class=" ">
          <div *ngIf="email.errors?.['required']">Email is required </div>
          <div *ngIf="email.errors?.['email']">Email should be valid </div>
        </small>
      </div>

    
      <button type="submit" class="btn btn-primary mt-4 "  label="SIGN IN" [disabled]="forgotPasswordFrom.invalid">Submit</button>
      <div class="mt-3">Back to  <a routerLink="/login">Login</a></div>
    
    </form>
    </div>
    </div></div>