<div class="d-flex gap-5 justify-content-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/0LhBvp8qpro?si=9UKh6BxIUgTSenwt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<iframe width="560" height="315" src="https://www.youtube.com/embed/k5E2AVpwsko?si=tKs7MfLdKj4F2Bf5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>