<div class="d-flex  gap-5 justify-content-center">
    <div *ngFor="let video of videoData">
      <iframe  
      *ngIf="video.isEnabled"
        [width]="video.width" 
        [height]="video.height" 
        [src]="video.src | safeUrl" 
        [title]="video.title" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" 
        allowfullscreen>
      </iframe>
    </div>
  </div>
  
  