<div class="d-flex justify-content-end my-5 px-3">
  <div class="card" style="width: 20rem">
    <div class="card-body">
      <form [formGroup]="requestFrom">
        <h2 class="mb-3">Request Form</h2>
        <div class="mb-3">
          <label for="fullName  " class="form-label">Full Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            formControlName="fullName" name="fullName" placeholder="Enter your fullname" />
          <small *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="">
            <div *ngIf="fullName.errors?.['required']">Name is required</div>
            <div *ngIf="fullName.errors?.['pattern']">Enter a valid Name</div>
          </small>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            formControlName="email" name="email" placeholder="Enter your email" />
          <small *ngIf="email.invalid && (email.dirty || email.touched)" class="">
            <div *ngIf="email.errors?.['required']">Email is required</div>
            <div *ngIf="email.errors?.['email']">Email should be valid</div>
          </small>
        </div>

        <div class="mb-3">
          <label for="Phonenumber" class="form-label">Phone Number</label>
          <input type="tel"  [(ngModel)]="inputVal" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            formControlName="phoneNumber" name="phoneNumber" placeholder="Enter phone number" />
            <small *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="">
              <div *ngIf="phoneNumber.errors?.['required']">Phone Number is required</div>
              <div *ngIf="phoneNumber.errors?.['pattern']">Enter a valid Phone Number</div>
            </small>
        </div>




        <div class="select_option">
          <label for="state  " class="form-label ">State</label>
          <select class="form-select state" aria-label="Default select example" onchange="loadCities()">
              <option selected> New York</option>
              <option selected>New Jersey</option>
              <option selected>Washington </option>
              <option selected>Texas</option>
          </select>
          <label for="city  " class="form-label m">City</label>
          <select class="form-select city" aria-label="Default select example">
              <option selected>Select City</option>
              <option selected>Select City</option>
              <option selected>Select City</option>
              <option selected>Select City</option>
          </select>
        </div>




        <div class="mb-3">
          <label for="CRD  " class="form-label">CRD</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            formControlName="CRD" name="text" placeholder="CRD (optional)" />
        </div>

        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label">Comments</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" label="SIGN IN" [disabled]="requestFrom.invalid">
          Submit
        </button>
        
      </form>
    </div>
  </div>
</div>






<small *ngIf="city.invalid &&(city.dirty || city.touched)" class="">
  <div *ngIf="city.errors?.['required']">Enter your City </div>
</small>


<small *ngIf="state.invalid &&(state.dirty || state.touched)" class="">
  <div *ngIf="state.errors?.['required']">Enter your state </div>
</small>