<div class="d-flex  justify-content-center my-5 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
  <div class="p-6 bg-body-tertiary rounded-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <form [formGroup]="registerForm">
          <h2 class="mb-3">Register</h2>
          <div class="mb-3 ">
            <label for="fullName  " class="form-label">Full Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
             name="Text" placeholder="Enter your fullName" formControlName="fullName" required>
          </div>
          <div *ngIf="registerForm.controls['fullName'].errors?.['required'] && registerForm.controls['fullName'].touched">
            <small class="text-danger">Full Name is required</small>
          </div>
          <div class="mb-3 ">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
             name="Email" placeholder="Type your email" formControlName="email" required>
          </div>
          <div *ngIf="registerForm.controls['email'].errors?.['required'] && registerForm.controls['email'].touched">
            <small class="text-danger">email is required</small>
          </div>
          <div *ngIf="registerForm.controls['email'].errors?.['pattern']">
            <small class="text-danger">email should be correct</small>
          </div>
          <div class="mb-3 ">
            <label for="phonenumber" class="form-label">Phone Number</label>
            <input type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               name="Phonenumber" placeholder="Enter phone number" formControlName="phoneNum" required>
          </div>
          <div *ngIf="registerForm.controls['phoneNum'].errors?.['required'] && registerForm.controls['phoneNum'].touched">
            <small class="text-danger">phonenumber is required</small>
          </div>
          <div *ngIf="registerForm.controls['phoneNum'].errors?.['pattern']">
            <small class="text-danger">phonenumber should be correct</small>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" 
              name="Password" placeholder="Type your password" formControlName="password" required>
          </div>
          <div *ngIf="registerForm.controls['password'].errors?.['required'] && registerForm.controls['password'].touched">
            <small class="text-danger">password is required</small>
          </div>
          <div *ngIf="registerForm.controls['password'].errors?.['minLength']">
            <small class="text-danger">password should be min 8 character</small>
          </div>
          <div class="mb-3">
            <label for=" ConfirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" 
              name="ConfirmPassword" placeholder="Confirm your password " formControlName="confirmPassword" required>
          </div>
          <div *ngIf="registerForm.controls['confirmPassword'].errors?.['required'] && registerForm.controls['confirmPassword'].touched">
            <small class="text-danger">confirmPassword is required</small>
          </div>
          <div *ngIf="registerForm.controls['confirmPassword'].errors?.['minLength']">
            <small class="text-danger">confirmPassword should be same as password</small>
          </div>
          <button type="submit" class="btn btn-primary" label="Register" routerLink="/login" (click)="onSubmit()" [disabled]="registerForm.invalid" >Register </button>
          <div class="mt-2">Already a member? <a routerLink="/login">Login</a></div>
        </form>
      </div>
    </div>
  </div>
</div>