<div class="row">
    <div class="col-4">
      <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
        <nav class="nav nav-pills flex-column">
          <a class="nav-link" (click)="inview(item1)">Item 1</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" (click)="inview(item11)">Item 1-1</a>
            <a class="nav-link ms-3 my-1" (click)="inview(item12)">Item 1-2</a>
          </nav>
          <a class="nav-link" (click)="inview(item2)">Item 2</a>
          <a class="nav-link" (click)="inview(item3)">Item 3</a>
          <nav class="nav nav-pills flex-column">
            <a class="nav-link ms-3 my-1" (click)="inview(item31)">Item 3-1</a>
            <a class="nav-link ms-3 my-1" (click)="inview(item32)">Item 3-2</a>
          </nav>
        </nav>
      </nav>
    </div>
    <div class="col-8">
      <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
        <div #item1>
          <h4>Item 1</h4>
          <p>The serene beauty of a sunset never ceases to captivate. As the sun dips below the horizon, it paints the sky with a symphony of colors—vibrant oranges, soothing pinks, and deep purples blend seamlessly. This daily spectacle symbolizes closure and the promise of a new dawn, reminding us of nature's ceaseless rhythm. Amidst the hustle and bustle of life, pausing to witness this natural wonder fosters a sense of peace and reflection. The quiet moments spent watching a sunset can inspire gratitude, offering a gentle reminder of the world's inherent beauty and the simple joys that enrich our lives.</p>
        </div>
        <div #item11>
          <h5>Item 1-1</h5>
          <p>The serene beauty of a sunset never ceases to captivate. As the sun dips below the horizon, it paints the sky with a symphony of colors—vibrant oranges, soothing pinks, and deep purples blend seamlessly. This daily spectacle symbolizes closure and the promise of a new dawn, reminding us of nature's ceaseless rhythm. Amidst the hustle and bustle of life, pausing to witness this natural wonder fosters a sense of peace and reflection. The quiet moments spent watching a sunset can inspire gratitude, offering a gentle reminder of the world's inherent beauty and the simple joys that enrich our lives.</p>
        </div>
        <div #item12>
          <h5>Item 1-2</h5>
          <p>The serene beauty of a sunset never ceases to captivate. As the sun dips below the horizon, it paints the sky with a symphony of colors—vibrant oranges, soothing pinks, and deep purples blend seamlessly. This daily spectacle symbolizes closure and the promise of a new dawn, reminding us of nature's ceaseless rhythm. Amidst the hustle and bustle of life, pausing to witness this natural wonder fosters a sense of peace and reflection. The quiet moments spent watching a sunset can inspire gratitude, offering a gentle reminder of the world's inherent beauty and the simple joys that enrich our lives.</p>
        </div>
        <div #item2>
          <h4>Item 2</h4>
          <p>The serene beauty of a sunset never ceases to captivate. As the sun dips below the horizon, it paints the sky with a symphony of colors—vibrant oranges, soothing pinks, and deep purples blend seamlessly. This daily spectacle symbolizes closure and the promise of a new dawn, reminding us of nature's ceaseless rhythm. Amidst the hustle and bustle of life, pausing to witness this natural wonder fosters a sense of peace and reflection. The quiet moments spent watching a sunset can inspire gratitude, offering a gentle reminder of the world's inherent beauty and the simple joys that enrich our lives.</p>
        </div>
        <div #item3>
          <h4>Item 3</h4>
          <p>The serene beauty of a sunset never ceases to captivate. As the sun dips below the horizon, it paints the sky with a symphony of colors—vibrant oranges, soothing pinks, and deep purples blend seamlessly. This daily spectacle symbolizes closure and the promise of a new dawn, reminding us of nature's ceaseless rhythm. Amidst the hustle and bustle of life, pausing to witness this natural wonder fosters a sense of peace and reflection. The quiet moments spent watching a sunset can inspire gratitude, offering a gentle reminder of the world's inherent beauty and the simple joys that enrich our lives.</p>
        </div>
        <div #item31>
          <h5>Item 3-1</h5>
          <p>The serene beauty of a sunset never ceases to captivate. As the sun dips below the horizon, it paints the sky with a symphony of colors—vibrant oranges, soothing pinks, and deep purples blend seamlessly. This daily spectacle symbolizes closure and the promise of a new dawn, reminding us of nature's ceaseless rhythm. Amidst the hustle and bustle of life, pausing to witness this natural wonder fosters a sense of peace and reflection. The quiet moments spent watching a sunset can inspire gratitude, offering a gentle reminder of the world's inherent beauty and the simple joys that enrich our lives.</p>
        </div>
        <div #item32>
          <h5>Item 3-2</h5>
          <p>The serene beauty of a sunset never ceases to captivate. As the sun dips below the horizon, it paints the sky with a symphony of colors—vibrant oranges, soothing pinks, and deep purples blend seamlessly. This daily spectacle symbolizes closure and the promise of a new dawn, reminding us of nature's ceaseless rhythm. Amidst the hustle and bustle of life, pausing to witness this natural wonder fosters a sense of peace and reflection. The quiet moments spent watching a sunset can inspire gratitude, offering a gentle reminder of the world's inherent beauty and the simple joys that enrich our lives.</p>
        </div>
      </div>
    </div>
  </div>