<div
  class="d-flex justify-content-center my-5 shadow-sm p-3 mb-5 bg-body-tertiary rounded"
>
  <div class="p-5 bg-body-tertiary rounded-3">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <form [formGroup]="loginFrom">
          <h2 class="mb-3">Login</h2>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input
              type="email"
              class="form-control"
              id="exampleInputEmail1"
              aria-describedby="emailHelp"
              formControlName="username"
              name="email"
              placeholder="Type your email"
              required
            />
          </div>
          <div *ngIf="loginFrom.controls['username'].errors?.['required'] && loginFrom.controls['username'].touched">
             <small> email is required</small>
          </div>
          <div *ngIf="loginFrom.controls['username'].errors?.['pattern'] && loginFrom.controls['username'].touched">
            <small> email should be correct</small>
         </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              formControlName="password"
              name="password"
              placeholder="Type your password"
            />
          </div>
          <div *ngIf="loginFrom.controls['password'].errors?.['required'] && loginFrom.controls['password'].touched"> 
            <small> password is required</small>
          </div>
          <div class="mb-3">
            <a routerLink="/forgotpassword"> Forgot Password?</a>
          </div>
          <button type="submit" class="btn btn-primary" label="SIGN IN" [disabled]="loginFrom.invalid" (click)="onSubmit()">
            Submit
          </button>
          <div class="mt-2">
            Not a member? <a routerLink="/signup">Register</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
