<div class="container py-5">
  <div class="main-body">
    <div class="row">
      <div *ngFor="let profile of profileData" class="col-lg-4">
        <div *ngIf="profile.isEnabled" class="card py-3">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img [src]="profile.profileImage" alt="Admin" class="rounded-circle p-1 bg-primary" width="110" />
              <div class="mt-3">
                <h4>{{ profile.name }}</h4>
                <p class="text-secondary mb-1">{{ profile.jobTitle }}</p>
                <p class="text-muted font-size-sm">{{ profile.location }}</p>
                <button class="btn btn-primary">{{ profile.btnName1 }}</button>
                <button class="btn btn-outline-primary">
                  {{ profile.btnName2 }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <div *ngFor="let info of formInfoData" class="row mb-3">
              <div *ngIf="info.isEnabled" class="col-sm-3">
                <h6 class="mb-0">{{ info.label }}</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" [value]="info.value" />
              </div>
            </div>

            <div *ngFor="let btn of buttonData" class="row">
              <div class="col-sm-3"></div>
              <div *ngIf="btn.isEnabled" class="col-sm-9 text-secondary">
                <input [type]="btn.type" class="btn btn-primary px-4" [value]="btn.btnValue" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>