<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <span *ngIf="logo.isEnabled">
      <a class="navbar-brand" [routerLink]="logo.url">
        <img [src]="logo.src" [alt]="logo.displayName" class="logo" [style]="logo.style" />
      </a>
    </span>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCollapse">

      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li *ngFor="let menuItem of menuItems" class="nav-navbar d-flex">
          <a *ngIf="menuItem.isEnabled" class="nav-link" aria-current="page" [routerLink]="menuItem.url"
            routerLinkActive="active">{{
            menuItem.displayName }}</a>
        </li>
      </ul>

      <div *ngFor="let buttonMenuItem of buttonMenuItems" class="col-md-3 text-end">
        <button *ngIf="buttonMenuItem.isEnabled" type="button" [class]="buttonMenuItem.style"
          (click)="naviagte(buttonMenuItem.url)">
          {{buttonMenuItem.displayName}}
        </button>
      </div>

      <div class="dropdown text-end" *ngFor="let dropDownMenuItem of dropDownMenuItems">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle show"
          data-bs-toggle="dropdown" aria-expanded="true">
          <img *ngIf="dropDownMenuItem.isEnabled" [src]="dropDownMenuItem.img" alt="mdo" width="32" height="32"
            class="rounded-circle" />
        </a>
        <div>
          <ul class="dropdown-menu text-small" data-popper-placement="bottom-end" style="
              position: absolute;
              inset: 0px 0px auto auto;
              margin: 0px;
              transform: translate3d(0.5px, 34px, 0px);
            ">
            <li *ngFor="let childMenuItem of dropDownMenuItem.childMenuItems">
              <a *ngIf="childMenuItem.isEnabled" class="dropdown-item" [routerLink]="childMenuItem.url">{{
                childMenuItem.displayName }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>