<div class="container my-5">
  <div class="p-5 text-center bg-body-tertiary rounded-3">
    <svg class="bi mt-4 mb-3" style="color: var(--bs-indigo);" width="50" height="50"><use xlink:href="#bootstrap"></use></svg>
    <h1 class="text-body-emphasis">You have been logged out</h1>
    <p class="col-lg-8 mx-auto fs-5 text-muted">
     You have been logged out due to inactivity <br>
     please login again to continue
    </p>
    <div class="d-inline-flex gap-2 mb-5">
      <a class="d-inline-flex align-items-center text-center btn btn-primary btn-lg px-4 rounded-pill" routerLink="/login">
        Back to login
        <svg class="bi ms-2" width="24" height="24"><use xlink:href="#arrow-right-short"></use></svg>
      </a>
     
    </div>
  </div>
</div> 



